env
venv
.ipynb_checkpoints


# Created by https://www.gitignore.io/api/im,virtualenv,ipythonnotebook

#!! ERROR: im is undefined. Use list command to see defined gitignore types !!#

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
*.pyc
.idea*


### IPythonNotebook ###
# Temporary data
.ipynb_checkpoints/


